@page "/test"
@using PokeBuilderMAUI.Shared.Models
@using PokeBuilderMAUI.Shared.Controllers
@using PokeBuilderMAUI.Shared.Services
@inject UserService us;
<div>
    @foreach (User user in users)
    {
        <p>@user.Username</p>
    }
</div>
<h3>Test</h3>
<_PokemonPartial pokemon="@test" />
<_FullTeamPartial />

@code {
    Pokemon test = new Pokemon(false);
    IEnumerable<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        await GetUser();
    }
    
    private async Task GetUser()
    {
    }
}
