body {
}
.inconsolata-medium {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inconsolata-light {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.inconsolata-bold {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inconsolata-dark {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.bg-pokeblue {
    background-image: linear-gradient(to bottom, #3E3AC5, #f4dc26);
}
