<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PokeBuilderMAUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<<<<<<< Updated upstream
<<<<<<< Updated upstream

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
=======
=======
>>>>>>> Stashed changes
<!--This is an update to the nav menu via bootstrap, just customized coloring, and added a
custom icon above, utilizing the content wwwroot of Shared.-->
<div class="nav-scrollable bg-pokeblue" onclick="document.querySelector('.navbar-toggler').click()">
>>>>>>> Stashed changes
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3 inconsolata-bold">
            <NavLink class="nav-link" href="poke-api-test">
                <span aria-hidden="true"></span> PokeAPITest
            </NavLink>
        </div>
        <div class="nav-item px-3 inconsolata-bold">
            <NavLink class="nav-link" href="poke-api-test">
                <span aria-hidden="true"></span> PokeAPITest
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pokedex">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Pokedex
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teammanager">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> TeamManager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pokeapitest">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> PokeAPITest
            </NavLink>
        </div>
    </nav>
</div>



