@using PokeBuilderMAUI.Shared.Models

@code {
    //PKList shoul directly import the team of pokemon the user has made.
    private static List<Pokemon> PKList = new List<Pokemon>(){
        //test list of testasaurs to test visuals of the object.
        new Pokemon(false),
        new Pokemon(false),
        new Pokemon(false),
        new Pokemon(false),
        new Pokemon(false),
        new Pokemon(false)
    };
    //teamCount will be used to iterate through the list of pokemon in the team.
    int teamCount = PKList.Count;
}
<div class="card-group border-light mb-3">
    @foreach(Pokemon pokemon in PKList){
        <div class="card bg-dark text-light border-5 border-secondary" style="width: 18rem;">
            <img src="@pokemon.Image" class="card-img-top" alt="image of @pokemon.Name">
            <div class="card-body">
                <h5 class="card-title fw-bold">@pokemon.Name</h5>
                <a href="#" class="btn btn-secondary">Edit</a>
                <a href="#" class="btn btn-danger">Remove</a>
            </div>
        </div>
    }
</div>

