@page "/"


<PageTitle>Home</PageTitle>
<div class="display-2">Welcome to PokeBuilder!</div>
<ul>
    <li>
        <div class="display-4">Make sure to Login first!</div>
    </li>
    <li>
        <div class="display-4">Go to the Pokedex to view all Pokemon!</div>
    </li>
    <li>
        <div class="display-4">Go to your Team Manager to manage your teams!</div>
        <div class="display-4">You can also create new teams!</div>
    </li>
</ul>

