@page "/login"
@* @using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
*@

<h3>Login Here</h3>
<form method="post" asp-controller="User" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="User.Username" class="form-label"></label>
        <input asp-for="User.Username" class="form-control" />
        <span asp-validation-for="User.Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="User.Password" class="form-label"></label>
        <input asp-for="User.Password" class="form-control" />
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>
    <input type="submit" value="Add user" class="btn btn-primary" />
</form>

@code {
    User currentUser = new User();
    protected override async Task OnInitializedAsync()
    {
        
    }
}
