@page "/poke-api-test"
@using System.Text.Json
@using System.Text.Json.Serialization
@using PokeBuilderMAUI.Shared.Models

@inject HttpClient Client

<h1>CHOOSE YOUR POKEMON!!!!!!</h1>



<ul @onloadend=OnInitializedAsync>
    @foreach (var pokemon in currentPokemon)
    {
        <li>
            @pokemon.Name
        </li>
    }

</ul>


@code {
    private List<Pokemon>? currentPokemon = [];

    protected override async Task OnInitializedAsync()
    {
        bool getPokmon = true;
        string name;
        int currentIndex = 1;

        while (getPokmon)
        {
            try
            {
                Console.WriteLine(currentIndex);

                // data == get JSON object from requested URL

                var data = await Client.GetFromJsonAsync<JsonElement>($"{Client.BaseAddress}/{currentIndex}");


                //currentPokemon = await Client.GetFromJsonAsync<Pokemon[]>($"{Client.BaseAddress}/{currentIndex}");

                //Set the string property above to the "name" property in the JSON object
                name = data.GetProperty("name").ToString();


                Pokemon pokemon = new Pokemon(name, Models.Type.GRASS, Models.Type.GRASS, "cool", new string[4], 20, 20, 20, 20, 20, 20, "cool");
                currentPokemon.Add(pokemon);
                //currentPokemon.ElementAt(currentIndex - 1).Name = name;

                //primary = Enum.TryParse((data.GetProperty("types[0].type.name").ToString().ToUpper());
                currentIndex++;
            }
            catch(Exception notFound)
            {
                await InvokeAsync(StateHasChanged);
                return;
            }
        }
        
       

    }
}
