@page "/pokedex"

<h3>Pokedex</h3>
<_PokemonPartial />
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
<_FullTeamPartial />
>>>>>>> Stashed changes
=======
<_FullTeamPartial />
>>>>>>> Stashed changes
=======
<_FullTeamPartial />
>>>>>>> Stashed changes
=======
<_FullTeamPartial />
>>>>>>> Stashed changes
@code {

}
