<<<<<<< HEAD
version https://git-lfs.github.com/spec/v1
oid sha256:262508bd7f4edbc5e5e79223de04fb794494c2d2ae5ea2732e32498765b1f248
size 268
=======
﻿@page "/pokedex"

<h3>Pokedex</h3>
<_PokemonPartial />
<_FullTeamPartial />
@code {

}
>>>>>>> 9b4ef72 (fixed github)
