@page "/poke-api-test"
@using PokeBuilderMAUI.Shared.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Client

<h1>Call web API from a Blazor WebAssembly Razor component</h1>

<h1>@name</h1>

@code {
    public string? name;

    protected override async Task OnInitializedAsync()
    {
        // data == get JSON object from requested URL
        var data = await Client.GetFromJsonAsync<JsonElement>(Client.BaseAddress + "/ditto");

        //Set the string property above to the "name" property in the JSON object
        name = data.GetProperty("name").ToString();
    }
}
