@using PokeBuilderMAUI.Shared.Models
@using PokeBuilderMAUI.Shared.Pages
@implements IDisplayPokemon

<p @onload=ActivatePokemon>
    @GetPokemon
</p>

@code {

    [CascadingParameter]
    public SetDisplayPokemon? DisplayInfo { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Pokemon? GetPokemon { get; set; }

    protected override void OnInitialized()
    {
        DisplayInfo?.AddPokemon(this);
    }

    private void ActivatePokemon()
    {
        DisplayInfo?.SetCurrentPokemon(this);
    }
}
